@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

@mixin row-flex(){
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.sidenav-container {
  height: 100%;
  background: #f6f5fc;
  .mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 60px 30px;
    background: #f6f5fc;
    img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
  .share{
    padding: 16px;
    font-weight: 600;
  }
  .toolbar-div{
    @include row-flex;
    justify-content: space-between;
    width: 100%;
    .right-toolbar{
      @include row-flex;
      gap: 10px;
      margin-left: 20px;
      .fa-bell{
        color: #a3a2aa;
      }
      .fa-bell:hover{
        cursor: pointer;
      }
      .profile-div{
        @include row-flex;
        gap: 15px;
        span {
          font-size: 12px;
          color: #393293;
          i{
            font-size: 12px;
          }
        }
      }
    }

    //grid-template-columns: 1fr 100px 50px 50px;
  }
  .input-field{
    position: relative;
    width: 100%;
      .fa-search{
        position: absolute;
        left: 30px;
        top: 50%;  /* position the top  edge of the element at the middle of the parent */
        transform: translateY(-50%);
        z-index: 1000;
        color: #a3a2aa;
      }
     app-button{
       position: absolute;
       right: 10px;
       top: 50%;  /* position the top  edge of the element at the middle of the parent */
       transform: translateY(-50%);
     }
    input{
      padding: 20px 10px 20px 60px;
      border-radius: 5px;
      min-width: 300px;
      width: 100%;
      border: none;
      outline: none;
      font-size: 14px;
    }
  }
}
.notification-modal{
  position: absolute;
  background: #ffffff;
  top: 100px;
  right: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  p{
    margin: 0;
    padding: 0;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;

  }
  .activity-div {
    @include row-flex();
    gap: 10px;
    padding: 10px 20px;
    border-bottom: 1px solid #a3a2aa;
    .activity-text {
      font-size: 14px;
      color: #393293;
      word-break: break-word;
      word-wrap: break-word;
      max-width: 200px;
    }
    .fa-heart{
      color: red;
      margin-left: 10px;
    }
    .ash{
      color: #a3a2aa;
    }
    .fa-comment-alt{
      color: #393293;
      margin-left: 10px;
    }
    .activity-time {
      font-size: 12px;
      color: #a3a2aa;
      word-break: break-all;
      word-wrap: break-word;
    }
  }
}
.sidenav {
  width: 200px;
}

::ng-deep .mat-list-base .mat-list-item .mat-list-item-content{
  gap: 10px;
  color: #a3a2aa;
  span:nth-of-type(1){
    width: 20px;
  }
}
::ng-deep .mat-drawer-inner-container{
  background: #f6f5fc;
}
.board-menu-link:hover .mat-list-item-content i{
  color: #392f97;
}
.mat-nav-list{
  padding: 1px 20px;
}
.active {
  border-radius: 5px;
  border: 1px solid #757575 !important;

  span {
    color: #757575;
  }

  span:nth-of-type(2){
    font-weight: 600;
  }
  i{
    color: #392f97;
  }
}

.brand-logo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 25px;
  .brand-name{
    color: rgb(57, 50, 147);
    font-weight: 700;
    font-size: 26px;
    font-family: 'Fira Sans Condensed', sans-serif;
  }
}
.container {
  width: 25px;
  height: 25px;
  perspective: 500px;
  margin-left: 5px;
}

.cube {
  position: relative;
  width: 25px;
  height: 25px;
  transform-style: preserve-3d;
  transform: rotate3d(1, 1, 0, 45deg);

}

.face {
  width: 25px;
  height: 25px;
  background: rgb(57, 50, 147);
  border: 10px solid rgb(57, 50, 147);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 2rem;
}
.front {
  transform: translateZ(12.5px);
}
.back {
  transform: translateZ(-12.5px) rotateY(180deg);
}
.left {
  transform: translateX(-12.5px) rotateY(-90deg);
}

.right {
  transform: translateX(12.5px) rotateY(90deg);
}
.top {
  transform: translateY(-12.5px) rotateX(90deg);
}

.bottom {
  transform: translateY(12.5px) rotateX(-90deg);
}
