<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
<!--    <a href=location><img class="img-fluid" src="" alt="Quabbly logo"> </a>-->
<!--    <div class="mainDiv">-->
<!--      <div class="square"></div>-->
<!--      <div class="square2"></div>-->
<!--      <div class="square3"></div>-->
<!--    </div>-->
    <mat-nav-list>
      <a class="board-menu-link" mat-list-item href="#" routerLink="/" routerLinkActive="active">
        <span><i class="fas fa-home"></i></span><span>Home</span>
      </a>
      <a  class="board-menu-link" mat-list-item href="#" routerLink="./other" routerLinkActive="active">
        <span><i class="fas fa-square"></i></span><span>Message</span>
      </a>
<!--      <div class="" >-->
<!--      SHARE-->
<!--      </div>-->
      <a  class="board-menu-link" mat-list-item href="#" routerLink="./other" routerLinkActive="active">
        <mat-icon aria-label="ranking">ranking</mat-icon>Ranking
      </a>
      <a  class="board-menu-link" mat-list-item href="#" routerLink="./other" routerLinkActive="active">
        <mat-icon aria-label="challenge">challenge</mat-icon>Challenge
      </a>
      <a  class="board-menu-link" mat-list-item href="#" routerLink="./other" routerLinkActive="active">
        <span><i class="fas fa-holly-berry"></i></span><span>Party</span>
      </a>
      <a  class="board-menu-link" mat-list-item href="#" routerLink="./other" routerLinkActive="active">
        <span><i class="fas fa-link"></i></span><span>Connect</span>
      </a>
      <a  class="board-menu-link" mat-list-item href="#" routerLink="./other" routerLinkActive="active">
        <span><i class="fas fa-pied-piper-alt"></i></span><span>Parade</span>
      </a>
      <a  class="board-menu-link" mat-list-item href="#" routerLink="./other" routerLinkActive="active">
        <span><i class="fas fa-users"></i></span><span>Group</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="toolbar-div">
        <div class="input-field">
<!--          <form (submit)="fetchCategory(input.value)">-->
          <input class="searchBar" #input/><i class="fas fa-search"></i> <app-button></app-button>
<!--          </form>-->
        </div>
        <div class="right-toolbar">
          <i class="fas fa-bell"></i>
        <div class="profile-div"><img alt="prof-img" src="assets/prof.jfif"/>
        <span>Abigail <i class="fas fa-chevron-down"></i> </span>
        </div>
        </div>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <main class="p-4">
<!--      <app-gallery-grid></app-gallery-grid>-->
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

