<div class="category-container">
  <div class="category-div"><span>World</span> <i class="fas fa-chevron-down"></i></div>
  <div class="category-div"><span>Following</span> <i class="fas fa-chevron-down"></i></div>
  <div class="category-div"><span>Popular</span> <i class="fas fa-chevron-down"></i></div>
  <div class="category-div"><span>Post</span> <i class="fas fa-chevron-down"></i></div>
  <div class="category-div"><span>Gender</span> <i class="fas fa-chevron-down"></i></div>
  <div class="category-div"><span>Location</span> <i class="fas fa-chevron-down"></i></div>
  <div class="category-div"><span>Profession</span> <i class="fas fa-chevron-down"></i></div>
</div>
